<td class="song-track">
  <span class="track-number">{{song.track}}</span>
    <span class="play">
      {{#if isPlaying}}
        <span {{action 'pause'}}>❙❙</span>
      {{else}}
        <span {{action 'play'}}>▶</span>
      {{/if}}
    </span>
</td>
<td class="song-name">{{song.name}}</td>
<td class="song-duration">{{format-duration song.duration}}</td>
