<div class="album-info">
  <img src="{{model.artwork}}">
  <h1>{{model.name}}</h1>
  <h2>{{model.artist}}</h2>
</div>

<table class="album-listing">
  {{#each song in model.songs}}
    {{song-row song=song}}
  {{/each}}
  <tr>
    <td class="total-duration" colspan="3">Total Time: {{format-duration model.totalDuration}}</td>
  </tr>
</table>
